<div id="<%= dom_id contact %>">
    <tr>
        <td class="d-none d-xl-table-cell">
            <%= link_to contact.callsign, contact_path(contact) %>
        </td>
        <td class="d-none d-xl-table-cell">
            <% if Date.current.year==contact.qso_date.year %>
                <%= contact.qso_date.strftime("%d" " %b" ) %>
                    <% else %>
                        <%= contact.qso_date.strftime("%d" " %b" " %y" ) %>
                            <% end %>
        </td>
        <td class="d-none d-xl-table-cell">
            <%= contact.country %>
        </td>
        <td class="d-none d-xl-table-cell">
            <%= contact.band %>
        </td>
        <td><span class="badge bg-success">
                <%= contact.mode %>
            </span></td>
        <td class="d-none d-xl-table-cell text-end">
            <%= contact.signal_report_sent %>
        </td>
        <td class="d-none d-xl-table-cell text-end">
            <%= contact.signal_report_received %>
        </td>
        <td class="d-none d-md-table-cell text-end">
            <% if contact.qsl_received %>
                <i data-feather="check" class="text-success"></i>
                <% else %>
                    <i data-feather="x-circle" class="text-secondary"></i>
                    <% end %>
        </td>
    </tr>
</div>