<% content_for :title, "Contacts" %>
  <div class="row">
    <div class="col-12 col-lg-8 col-xxl-9 d-flex">
      <div class="card flex-fill">
        <div class="card-header">

          <h5 class="card-title mb-0">Latest Contacts</h5>
        </div>
        <table class="table table-sm table-hover my-0 font-monospace">
          <thead>
            <tr>
              <th class="d-none d-xl-table-cell">Callsign</th>
              <th class="d-none d-xl-table-cell">Date</th>
              <th class="d-none d-xl-table-cell">Country</th>
              <th class="d-none d-xl-table-cell">Band</th>
              <th class="d-none d-xl-table-cell">Mode</th>
              <th class="d-none d-xl-table-cell text-end">Sent</th>
              <th class="d-none d-xl-table-cell text-end">Recv</th>
              <th class="d-none d-md-table-cell text-end">Conf</th>
            </tr>
          </thead>
          <tbody>
            <% @contacts.each do |contact| %>
              <%= render contact %>
                <% end %>
          </tbody>

        </table>
        <div class="px-3 mt-2">
          <div class="mb-3">
            <p>
              <%= page_entries_info @contacts, model: 'Contacts' %>
            </p>
          </div>
          <%= will_paginate @contacts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-4 col-xxl-3 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Summary</h5>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Contacts</h5>
            Total: <%= Contact.count %><br />
              Unique: <%= Contact.count('DISTINCT callsign') %><br />
                <%= Date.today.strftime("%Y") %>: <%= Contact.where('EXTRACT(YEAR FROM qso_date)=?',
                    Date.current.year).count %><br />
                    <%= Date.today.strftime("%B") %>: <%= Contact.where('EXTRACT(MONTH FROM qso_date)=? and EXTRACT(YEAR
                        FROM qso_date)=?', Date.current.month, Date.current.year).count %><br />
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Countries</h5>
            Total: <%= Country.where(worked: true).count %><br />
              Confirmed: <%= Country.where(worked: true, confirmed: true).count %><br />
                <%= Date.today.strftime("%Y") %>: <%= Contact.where('EXTRACT(YEAR FROM qso_date)=?',
                    Date.current.year).count('DISTINCT dxcc_id') %>
                    <br />
                    <%= Date.today.strftime("%B") %>: <%= Contact.where('EXTRACT(MONTH FROM qso_date)=? and EXTRACT(YEAR
                        FROM qso_date)=?', Date.current.month, Date.current.year).count('DISTINCT dxcc_id') %><br />
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Grid Squares</h5>
            Total: <%= Contact.count('DISTINCT gridsquare') %><br />
              <%= Date.today.strftime("%Y") %>: <%= Contact.where('EXTRACT(YEAR FROM qso_date)=?',
                  Date.current.year).count('DISTINCT gridsquare') %>
                  <br />
                  <%= Date.today.strftime("%B") %>: <%= Contact.where('EXTRACT(MONTH FROM qso_date)=? and EXTRACT(YEAR
                      FROM qso_date)=?', Date.current.month, Date.current.year).count('DISTINCT gridsquare') %><br />
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Zones</h5>
            CQ: <%= Contact.count('DISTINCT cq_zone') %><br />
              ITU: <%= Contact.count('DISTINCT itu_zone') %><br />
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Upload</h5>
            <%= form_with url: load_contacts_path , multipart: true do |f| %>
              <%= file_field_tag :adi_file %>
                <%= f.button "Load" , type: "submit" , :class=> "btn btn-primary" %>
                  <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "New contact" , new_contact_path %>