<div id="<%= dom_id country %>">
    <tr>
        <td style='<%= country.worked ? "background:#fff;" : "background:#ffcccc;" %>''>
            <%= country.prefix %>
        </td>
        <td style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <%= country.name %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['80m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['40m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['30m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['20m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['17m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['15m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['12m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
        <td class="d-none d-xl-table-cell" style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
            <% if country['10m'] %>
                <i class="align-middle" data-feather="radio"></i>
                <% end %>
        </td>
    </tr>
</div>