<row% content_for :title, "Contacts" %>

  <div class="row">
    <div class="col-12 col-lg-8 col-xxl-9 d-flex">
      <div class="card flex-fill">
        <div class="card-header">

          <h5 class="card-title mb-0">DXCC</h5>
        </div>
        <table class="table table-hover my-0">
          <thead>
            <tr class="bg-secondary">
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white" colspan="2">Entity</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">80m</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">40m</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">30m</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">20m</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">17m</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">15m</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">12m</th>
              <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">10m</th>
            </tr>
          </thead>
          <tbody>
            <% @countries.each.with_index do |country, index| %>
              <div id="<%= dom_id country %>">
                <tr>
                  <td style='<%= country.worked ? "background:#fff;" : "background:#ffcccc;" %>''>
                      <%= country.prefix %>
                  </td>
                  <td style="<%= country.worked ? ' background:#fff;' : 'background:#ffcccc;' %>">
                    <%= country.name %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['80m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['40m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['30m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['20m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['17m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['15m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['12m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                  <td class="d-none d-xl-table-cell"
                    style="<%= country.worked ? 'background:#fff;' : 'background:#ffcccc;' %>">
                    <% if country['10m'] %>
                      <i class="align-middle" data-feather="radio"></i>
                      <% end %>
                  </td>
                </tr>
                <% if [10, 20, 30,40,50,60,60,80,90,100].include?(index) %>
                  <tr>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white" colspan="2">Entity</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">80m</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">40m</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">30m</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">20m</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">17m</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">15m</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">12m</th>
                    <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">10m</th>
                  </tr>
                  <% end %>
              </div>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-xxl-3 d-flex">
      <row>
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0">Summary</h5>
          </div>
          <div class="card-body d-flex w-100">
            <table class="table table-hover my-0">
              <thead>
                <tr>
                  <td colspan="*">
                    <span class="h6">DXCC</span>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Worked</td>
                  <td>
                    <%= Country.where('worked=true').count %>
                  </td>
                </tr>
                <tr>
                  <td>Confirmed</td>
                  <td>
                    <%= Country.where('confirmed=true').count %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body d-flex w-100">
            <table class="table table-hover my-0">
              <thead>
                <tr>
                  <td colspan="*">
                    <span class="h6">Slots</span>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Worked</td>
                  <td>
                    <%= @slots.size %>
                  </td>
                </tr>
                <tr>
                  <td>Confirmed</td>
                  <td>
                    <%= @slots_confirmed.size %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </row>
      <row>
        <div class="card-body d-flex w-100">
          <table class="table table-hover my-0">
            <thead>
              <tr>
                <td colspan="*">
                  <span class="h6">Band</span>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>80m</td>
                <td>
                  <%= Country.where('"80m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"80m"=true and confirmed=true').count %>
                </td>
              </tr>
              <tr>
                <td>40m</td>
                <td>
                  <%= Country.where('"40m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"40m"=true and confirmed=true').count %>
                </td>
              </tr>
              <tr>
                <td>30m</td>
                <td>
                  <%= Country.where('"30m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"30m"=true and confirmed=true').count %>
                </td>
              </tr>
              <tr>
                <td>20m</td>
                <td>
                  <%= Country.where('"20m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"20m"=true and confirmed=true').count %>
                </td>
              </tr>
              <tr>
                <td>17m</td>
                <td>
                  <%= Country.where('"17m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"17m"=true and confirmed=true').count %>
                </td>
              </tr>
              <tr>
                <td>15m</td>
                <td>
                  <%= Country.where('"15m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"15m"=true and confirmed=true').count %>
                </td>
              </tr>
              <tr>
                <td>12m</td>
                <td>
                  <%= Country.where('"12m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"12m"=true and confirmed=true').count %>
                </td>
              </tr>
              <tr>
                <td>10m</td>
                <td>
                  <%= Country.where('"10m"=true').count %>
                </td>
                <td>
                  <%= Country.where('"10m"=true and confirmed=true').count %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body d-flex w-100">
          <table class="table table-hover my-0">
            <thead>
              <tr>
                <td colspan="*">
                  <span class="h6">Countries</span>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total:</td>
                <td>
                  <%= Contact.count('DISTINCT dxcc_id') %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= Date.current.year %>:
                </td>
                <td>
                  <%= Contact.where('EXTRACT(YEAR FROM qso_date)=?', Date.current.year).count('DISTINCT dxcc_id') %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= Date.current.strftime("%B") %>:
                </td>
                <td>
                  <%= Contact.where('EXTRACT(MONTH FROM qso_date)=? AND EXTRACT(Year FROM qso_date)=?',
                    Date.current.month, Date.current.year).count('DISTINCT dxcc_id') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body d-flex w-100">
          <table class="table table-hover my-0">
            <thead>
              <tr>
                <td colspan="*">
                  <span class="h6">Gridsquares</span>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>All:</td>
                <td>
                  <%= Contact.count('DISTINCT gridsquare') %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= Date.current.year %>:
                </td>
                <td>
                  <%= Contact.where('EXTRACT(YEAR FROM qso_date)=?', Date.current.year).count('DISTINCT gridsquare') %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= Date.current.strftime("%B") %>:
                </td>
                <td>
                  <%= Contact.where('EXTRACT(MONTH FROM qso_date)=? AND EXTRACT(Year FROM qso_date)=?',
                    Date.current.month, Date.current.year).count('DISTINCT gridsquare') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body d-flex w-100">
          <table class="table table-hover my-0">
            <thead>
              <tr>
                <td colspan="*">
                  <span class="h6">Zones</span>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CQ:</td>
                <td>
                  <%= Contact.count('DISTINCT cq_zone') %>
                </td>
              </tr>
              <tr>
                <td>ITU:</td>
                <td>
                  <%= Contact.count('DISTINCT itu_zone') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  </row>
  </div>
  <%= link_to "New contact" , new_contact_path %>