<div class="container-fluid p-0 mt-0">
  <div class="mb-3">
    <h1 class="h2 d-inline align-middle">
      <%= @country.name %> (<%= @country.dxcc_id %>)
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title mb-0">Details</h5>
        </div>
        <div class="card-body text-left">
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li class="mb-1">Continent:
                <%= @country.continent_code %>
              </li>
              <li class="mb-1">CQ Zone:
                <%= @country.cq_zone %>
              </li>
              <li class="mb-1">ITU Zone:
                <%= @country.itu_zone %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title mb-0">Bands</h5>
        </div>
        <div class="card-body text-left">
          <div class="card-body">
            <table>
              <tbody>
                <% @bands.keys.sort.each do |key, value| %>
                  <tr>
                    <td>
                      <%=h "#{key.to_s} #{@bands[key]}" %>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title mb-0">Prefixes</h5>
        </div>
        <div class="card-body text-left">
          <div class="card-body">
            <table>
              <tbody>
                <% @prefixes.each do |prefix| %>
                  <tr>
                    <td>
                      <%= prefix.prefix %>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xl-9">
      <div class="card">
        <div class="card-header">

          <h5 class="card-title mb-0">Contacts</h5>
        </div>
        <div class="card-body h-100">
          <table class="table table-hover my-0 font-monospace">
            <thead>
              <tr>
                <th class="d-none d-xl-table-cell">Callsign</th>
                <th>Date</th>
                <th class="d-none d-xl-table-cell">Band</th>
                <th>Mode</th>
                <th class="text-end">Sent</th>
                <th class="text-end">Recv</th>
                <th class="d-none d-md-table-cell text-center">Confirmed</th>
              </tr>
            </thead>
            <tbody>
              <% @contacts.each do |contact| %>
                <div id="<%= dom_id contact %>">
                  <tr>
                    <td class="d-none d-xl-table-cell">
                      <%= link_to contact.callsign, contact_path(contact) %>
                    </td>
                    <td>
                      <% if Date.current.year==contact.qso_date.year %>
                        <%= contact.qso_date.strftime("%d" " %b" ) %>
                          <% else %>
                            <%= contact.qso_date.strftime("%d" " %b" " %y" ) %>
                              <% end %>
                    </td>
                    <td class="d-none d-xl-table-cell">
                      <%= contact.band %>
                    </td>
                    <td><span class="badge bg-success">
                        <%= contact.mode %>
                      </span></td>
                    <td class="d-none d-xl-table-cell text-end">
                      <%=contact.signal_report_sent %>
                    </td>
                    <td class="d-none d-xl-table-cell text-end">
                      <%=contact.signal_report_received %>
                    </td>
                    <td class="d-none d-md-table-cell text-center">
                      <% if contact.qsl_received %>
                        <i data-feather="check" class="text-success"></i>
                        <% else %>
                          <i data-feather="x-circle" class="text-secondary"></i>
                          <% end %>
                    </td>
                  </tr>
                </div>
                <% end %>
            </tbody>
          </table>
        </div>
        <div class="px-3 mt-2">
          <div class="mb-3">
            <p><%= page_entries_info @contacts, model: 'Contacts' %></p>
          </div>
          <%= will_paginate @contacts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>

      <hr />
    </div>
  </div>
</div>