<div class="row">
  <div class="col-12 col-lg-8 col-xxl-9 d-flex">
    <div class="card flex-fill">
      <div class="card-header">

        <h5 class="card-title mb-0">Unique Prefixes</h5>
      </div>
      <table class="table table-hover my-0">
        <thead>
          <tr>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">Country</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">40m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">30m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">20m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">17m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">15m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">12m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">10m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">TOTAL</th>
          </tr>
          <tr>
            <td class="d-none d-xl-table-cell">
              
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.where(band: '40M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.where(band: '30M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.where(band: '20M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.where(band: '17M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.where(band: '15M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.where(band: '12M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.where(band: '10M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell">
              <%= Contact.select(:prefix).distinct.count %>
            </td>
          </tr>
        </thead>
        <tbody>
          <% index=0 %>
            <% @prefixes.each do |prefix| %>
              <% index +=1 %>
                <tr>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['country'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['40m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['30m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['20m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['17m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['15m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['12m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['10m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= prefix['10m'].to_i + prefix['12m'].to_i + prefix['15m'].to_i + prefix['20m'].to_i +
                      prefix['30m'].to_i + prefix['40m'].to_i %>
                  </td>
                </tr>
                <% if [10, 20, 30,40,50,60,60,80,90,100].include?(index) %>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">Country</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">40m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">30m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">20m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">17m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">15m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">12m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">10m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">TOTAL</th>
                  <% end %>
                    <% end %>

        </tbody>
      </table>
    </div>
  </div>

</div>
</row>
</div>
<%= link_to "New contact" , new_contact_path %>