<div class="row">
  <div class="col-12 col-lg-8 col-xxl-9 d-flex">
    <div class="card flex-fill">
      <div class="card-header">

        <h5 class="card-title mb-0">US States</h5>
      </div>
      <table class="table table-sm table-hover my-0">
        <thead>
          <tr>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">State</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">40m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">30m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">20m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">17m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">15m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">12m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">10m</th>
            <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">TOTAL</th>
          </tr>
          <tr>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">

            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= Contact.select(:state).distinct.where(band: '40M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= Contact.select(:state).distinct.where(band: '30M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= Contact.select(:state).distinct.where(band: '20M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= Contact.select(:state).distinct.where(band: '17M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= Contact.select(:state).distinct.where(band: '15M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= Contact.select(:state).distinct.where(band: '12M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= Contact.select(:state).distinct.where(band: '10M' ).count %>
            </td>
            <td class="d-none d-xl-table-cell bg-info bg-gradient text-white">
              <%= @current.size %>
            </td>
          </tr>
        </thead>
        <tbody>
          <% index=0 %>
            <% @us_states.each do |us_state| %>
              <% index +=1 %>
                <tr>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['state'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['40m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['30m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['20m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['17m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['15m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['12m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['10m'] %>
                  </td>
                  <td class="d-none d-xl-table-cell">
                    <%= us_state['10m'].to_i + us_state['12m'].to_i + us_state['15m'].to_i + us_state['20m'].to_i +
                      us_state['30m'].to_i + us_state['40m'].to_i %>
                  </td>
                </tr>
                <% if [10, 20, 30,40,50,60,60,80,90,100].include?(index) %>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">State</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">40m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">30m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">20m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">17m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">15m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">12m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">10m</th>
                  <th class="d-none d-xl-table-cell bg-secondary bg-gradient text-white">TOTAL</th>
                  <% end %>
                    <% end %>

        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xxl-3 d-flex">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0">Outstanding States</h5>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>
            <% @state_array.each do |x| %>
              <%= x %>
                <% end %>
          </h5>

        </div>
      </div>
    </div>
  </div>
  </row>
</div>
<%= link_to "New contact" , new_contact_path %>